<h3>About</h3>

<div class="row">Instituto Tecnológico de Costa Rica</div>
<div class="row">Escuela de Ingeniería en Computación</div>
<div class="row">Visualización de la Información</div>
<div class="row">Profesora: Verónica Mora Lezcano</div>
<div class="row">Estudiante: Steven Moya Quiñones</div>
<div class="row">I Semestre, 2020</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>